@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: #8ca8dd;
}

.container {
    @apply mx-auto p-4;
}

h1 {
    font-size: 2rem;
    color: #333;
}

button {
    cursor: pointer;
}

ul {
    @apply space-y-6;
}

li {
    @apply p-6 bg-white border rounded shadow hover:bg-gray-50 transition duration-300;
}

a {
    @apply text-2xl font-semibold text-blue-600 hover:underline;
}

p {
    @apply mt-4 text-gray-700;
}

.loading {
    @apply flex justify-center items-center h-screen;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.text-center {
    text-align: center;
}

.text-red {
    color: #ff0000;
}

.mb-4 {
    margin-bottom: 1rem;
}